.Pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
  list-style-type: none;

  & a {
    color: #495660;
    text-decoration: none;
  }

  &-item {
    display: block;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #000;

    &:hover {
      background-color: #e8e3e3;
      cursor: pointer;
    }
  }

  &-active {
    background-color: #7be988;

    &:hover {
      background-color: #7be988;
    }
  }
}
