.Guarantees {
  margin-top: 50px;

  & h3 {
    font-size: 200%;
  }

  &-Block {
    line-height: 19px;
    text-align: center;

    & strong {
      display: block;
      margin: 25px 0;
      color: #4a689a;
      font-weight: 700;
      font-size: 15px;
    }

    & p {
      line-height: 20px;
    }
  }
}
