.Guarantees {
  margin-top: 50px;

  & h3 {
    font-size: 200%;
  }

  &-Block {
    text-align: center;
    line-height: 19px;

    & strong {
      display: block;
      font-size: 15px;
      font-weight: 700;
      color: #4a689a;
      margin: 25px 0;
    }

    & p {
      line-height: 20px;
    }
  }
}
