/* stylelint-disable */

@font-face {
       font-family: 'SFUIDisplay';
   	   src: url('../font/regular.ttf'); /* IE9 Compat Modes */
  }
@font-face {
       font-family: 'SFUIDisplayBold';
   	   src: url('../font/font.ttf'); /* IE9 Compat Modes */
  }



body {
  overflow-x: hidden;
  color: #495660;
  font-size: 14px;
  font-family: 'SFUIDisplay';
}

@import "../components/Header/Header";
@import "../components/Navbar/Navbar";
@import "../components/MainScreen/MainScreen";
@import "../components/PopularCategories/PopularCategories";
@import "../components/Advantages/Advantages";
@import "../components/ProductsBlock/ProductBlock";
@import "../components/ProductItem/ProductItem";
@import "../components/Support/Support";
@import "../components/Steps/Steps";
@import "../components/Guarantees/Guarantee";
@import "../components/Difference/Difference";
@import "../components/Question/Question";
@import "../components/Forms/Policy";
@import "../components/Forms/QuestionForm";
@import "../components/Forms/SupportForm";
@import "../components/Forms/PopupForm";
@import "../components/Contacts/Contacts";
@import "../components/Footer/Footer";
@import "../components/Popup/Popup";
@import "../components/MainTitle/MainTitle";
