@font-face {
  font-family: SFUIDisplay;
  src: url("../font/regular.ttf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: SFUIDisplayBold;
  src: url("../font/font.ttf"); /* IE9 Compat Modes */
}

@import url("../components/Header/Header");
@import url("../components/Navbar/Navbar");
@import url("../components/MainScreen/MainScreen");

body {
  overflow-x: hidden;
  color: #495660;
  font-size: 14px;
  font-family: SFUIDisplay;
}
