.Support {
  position: relative;
  clear: both;
  margin-top: 120px;
  margin-right: -8px;
  margin-left: -15px;
  padding-top: 65px;
  padding-bottom: 65px;
  color: #fff;
  background: #4a689a;

  & span {
    color: #000154;
  }

  &-man img {
    position: absolute;
    top: -82px;
    right: 200px;
    display: block;
  }

  h3 {
    margin-top: 15px;
    font-size: 200%;
  }

  &-policy {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    color: #050859;
    font-weight: 700;

    & a {
      color: #fff;
    }
  }

  &-policyText {
    z-index: 9999;
    margin-left: 15px;
  }
}

@media screen and (max-width: 991px) {
  .Support {
    &-man {
      display: none;
    }
  }
}
