.popularCategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 91px;
  font-size: 15px;

  & h3 {
    color: #4a689a;
  }

  &-link {
    color: #000;
    text-decoration: none;
  }

  &_item {
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    margin: 10px;
    padding: 20px;
    color: #5c5a5a;
    text-align: center;
    background: #bbecfa;

    &:hover {
      background: #29b3d9;
    }
  }
}
