.Popup {
  position: fixed;
  z-index: 9999999999999999999999999;
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(#000, 0.5);
  inset: 0;

  &-content {
    position: fixed;
    top: 10%;
    left: 50%;
    min-width: 235px;
    max-width: 450px;
    padding: 2rem;
    background: #4a689a;
    transform: translateX(-50%);
    //width: 20%;
  }

  &-close {
    position: absolute;
    top: -1rem;
    right: -2rem;
    width: 2rem;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &-title {
    font-size: 26px;
    font-family: SFUIDisplayBold;
    line-height: 40px;
    text-transform: uppercase;

    & span {
      color: #000154;
    }
  }
}
