.Steps {
  background: url("../image/anetta.png") no-repeat;
  background-size: cover;
  height: 50%;
  margin-left: -15px;
  margin-right: -8px;
  padding-top: 150px;
  padding-bottom: 141px;
  color: #000154;

  h3 {
    font-size: 200%;
  }
}

.StepsList {
  &-item {
    margin-top: 60px;
    display: flex;
    background: #fff;
    padding: 20px;
    color: #222;
    border-radius: 3px;
    margin-left: 20px;
  }

  &-number {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 44px;
    font-family: SFUIDisplayBold;
    color: #c4c2bf;
    padding-right: 30px;
  }

  &-info {
    color: #4a689a;
    font-size: 15px;
    padding-left: 15px;

    & strong {
      font-size: 16px;
    }

    &p {
      color: #495660;
    }
  }
}
