.header {

	text-align: center;
	
	&-about {
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 20px;
	}

	&-time{
	margin-left: 100px;
    font-size: 11px;
    margin-top: 5px;
	}
	
	&-phone{
		color: #000154;
		font-weight: 800;
	}

	&-contact{
		color:#fff;
		text-transform: uppercase;
		padding: 10px 15px;
		background: #eb3636;
		border-radius: 5px;
		text-decoration: none;
		margin-bottom: 15px;

		&:hover {
    	background:#db5f5f;
		}
	}

	&-link{
	color: white;
	text-decoration:none;
  }

}


 @media screen and (max-width: 1199px) {
	.header-contact {
		padding: 10px 8px;
	}
 }
