.nav {
  display: flex;
  justify-content: space-between;
  margin-right: -8px;
  margin-left: -15px;
  background-color: #4a689a;

  &-links {
    display: flex;
    flex-basis: 66%;
    justify-content: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background: #4a689a;

    & li {
      margin-right: 20px;
      margin-left: 15px;
      padding-bottom: 20px;
      list-style: none;
    }

    & ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
    }

    & a {
      color: #fff;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        color: #19236b;
        font-weight: 700;
      }
    }
  }

  &-adress {
    display: flex;
    width: 33%;
    padding: 30px;
    color: #fff;
    background: #000154;

    & a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    &-links {
      display: none;
    }

    &-adress {
      width: 100%;
    }
  }
}
