.Question {
  height: 50%;
  margin-top: 50px;
  margin-right: -8px;
  margin-left: -15px;
  padding-top: 40px;
  padding-bottom: 140px;
  color: #000154;
  background: url("../image/font-que.png") no-repeat;
  background-size: cover;

  & h3 {
    color: white;
    font-size: 200%;
  }

  &-text {
    font-size: 15px;
    font-family: SFUIDisplayBold;
  }
}
