.PopupForm {
  & form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & input {
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 14px;
  }

  &-button {
    border: none;
    cursor: pointer;
    background: #eb3636;
    color: #fff;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 16px;
  }
}
